* {
  padding: 0;
  margin: 0;
}
.header {
  /* display: flex; */
  background-color: rgb(23, 26, 33);
  height: 104px;
  width: 100%;
}
.header .logo {
  display: flex;
  padding-left: 100px;
  padding-top: 27px;
  font-size: 150px;
}
.header .logo img {
  width: 50px;
  height: 50px;
  color: rgb(197, 195, 192);
  margin-left: -50px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.header .logo h1 {
  color: rgb(197, 195, 192);
  font-size: 30px;
  display: flex;
  align-items: center;
}
.header .function {
  display: flex;
  justify-content: flex-end;
  margin-top: -95px;
  margin-right: 15px;
}

.header .function button {
  display: flex;
  background-color: green;
  height: fit-content;
}
.header .function button:hover {
  /* margin-top: -1px; */
  border: 1px solid rgb(77, 173, 77);
}
.header .function button i {
  color: white;
  margin: 2px 5px;
}
.header .function button p {
  color: white;
  margin: 0 5px;
}
.header .function a {
  text-decoration: none;
  color: rgb(197, 195, 192);
  padding: 0 5px;
}
.header .function a:hover {
  font-weight: bold;
}
/* dùng để chứa các menu mid */
.header .menu {
  display: flex;
  justify-content: center;
  line-height: 30px;
  z-index: 999;
}
/*
dùng để chứa các menu bên trái
*/
.header .menu .nav {
  display: block;
  margin-top: -3px;
}
.header .menu .nav .nav-item {
  float: left;
}
.header .menu .nav .nav-item .nav-link {
}
.header .menu .nav > li {
  list-style: none;
  position: relative;
  z-index: 2;
}
.header .menu .nav > li > a {
  text-decoration: none;
  padding: 0 15px;
  line-height: 30px;
  display: block;
  font-weight: bold;
}
.header .menu .nav > li > a:hover {
  background-color: rgb(17, 79, 146);
  color: rgb(197, 195, 192);
  z-index: 10;
  transition: ease-in 0.3s;
  -moz-transition: ease-in 0.3s;
  -webkit-transition: ease-in 0.3s;
}
.header .menu .nav .home_menu {
  width: 200px;
  background-color: rgb(23, 26, 33);
  min-height: 100px;
  display: none;
  position: absolute;
}
.header .menu .nav .home_menu li {
  list-style-type: none;
  margin-left: -31px;
  border-top: 2px solid white;
  z-index: 10;
}
.header .menu .nav .home_menu li a {
  text-decoration: none;
  color: white;
  display: block;
  line-height: 40px;
  text-indent: 15px;
}
.header .menu .nav > li:hover ul.home_menu {
  display: block;
  transition: ease-in 1s;
  -moz-transition: ease-in 1s;
  -webkit-transition: ease-in 1s;
}
.header .menu .nav > li > a:hover li ul {
}
.header .menu .nav .home_menu li a:hover {
  font-weight: bold;
  z-index: 10;
  transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  -webkit-transition: ease-out 0.2s;
}
/* dùng để tạo nội dung cho web*/
.contain {
  background-image: url("../images/backgroundcolor.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}

/*Dùng để xem các menu bên trái*/
.contain .contain_left {
  margin-top: 100px;
  color: white;
  margin-left: 50px;
}
.contain .contain_left a {
  text-decoration: none;
}
.contain .contain_left a:hover {
  color: white;
  border-bottom: 2px solid white;
  transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  -webkit-transition: ease-out 0.2s;
}
/*Dùng để sửa các menu ở giữa*/
.contain .contain_mid {
  padding: 0 -100px;
  max-width: 1000px;
}
.contain .contain_mid .list_mid {
  max-width: 75%;
  margin: auto;
  /* max-height: ; */
}
.contain .contain_mid .menu_mid {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  background-image: url("../images/backgroundmenu.png");
}
/* Dùng để chứa các đầu vào bên trái của menu mid*/
.contain .contain_mid .menu_mid .left {
  display: flex;
  height: 40px;
}
.contain .contain_mid .menu_mid .left > ul {
  align-items: center;
  list-style: none;
  display: block;
  height: 40px;
  padding-left: 0;
}
.contain .contain_mid .menu_mid .left > ul > li {
  float: left;
  margin: 0 30px 0 0;
  line-height: 40px;
  position: relative;
  z-index: 1;
}
.contain .contain_mid .menu_mid .left > ul > li > a {
  text-decoration: none;
  display: block;
  color: rgb(197, 195, 192);
  font-weight: bold;
  text-indent: 10px;
}
.contain .contain_mid .menu_mid .left > ul > li > a:hover {
  background-image: url("../images/backgroundhover.png");
  background-size: 100%;
  color: white;
  transition: ease-out 0.35s;
  -moz-transition: ease-out 0.35s;
  -webkit-transition: ease-out 0.35s;
}
.contain .contain_mid .menu_mid .left > ul > li > ul {
  width: 300px;
  background-image: url("../images/backgroundhoverulli.png");
  background-size: 100%;
  min-height: 50px;
  display: none;
  position: absolute;
  box-shadow: 2px black;
  transition: 1s;
}
.contain .contain_mid .menu_mid .left > ul > li > ul > li {
  list-style: none;
  margin-left: -20px;
  transition: 1s;
}
.contain .contain_mid .menu_mid .left > ul > li > ul > li > a {
  text-decoration: none;
  color: rgb(197, 195, 192);
}
.contain .contain_mid .menu_mid .left > ul > li:hover > ul {
  display: block;
  transition: 0.5s;
}
.contain .contain_mid .menu_mid .left > ul > li > ul li > a:hover {
  border-bottom: 2px solid white;
  color: white;
  font-weight: bold;
  transition: ease-out 0.1s;
  -moz-transition: ease-out 0.1s;
  -webkit-transition: ease-out 0.1s;
}
/* dùng để chứa các đầu vào bên phải của menu mid */
.contain .contain_mid .menu_mid .right {
  margin-top: 8px;
  display: flex;
  align-items: center;
  height: 60%;
  border: 2px solid rgb(11, 33, 133);
  border-radius: 5px;
}

.contain .contain_mid .menu_mid .right input {
  background-color: rgb(59, 100, 144);
  border: none;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.contain .contain_mid .menu_mid .right button {
  background-color: rgb(26, 109, 197);
  border: none;
  width: 30px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.contain .contain_mid .menu_mid .right input:hover {
  border: 1px solid rgb(50, 47, 219);
}
.contain .contain_mid .menu_mid .right button:hover {
  border: 1px solid rgb(21, 35, 228);
  background-color: rgb(50, 47, 219);
  color: white;
}
/* dùng để chứa các poster mid */
/*
để chứa các thông tin bên phải
*/
.contain_right {
  width: 200px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  /* justify-content: space-around; */
  align-items: flex-end;
  /* align-content: space-between; */
}
.contain_right .box {
  width: 70px;
  height: 210px;
  position: fixed;
  /* background-color: white; */
  /* border: 3px solid black; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: space-between;
  margin-top: 300px;
  /* opacity: 0.5; */
}
.contain_right .box button {
  background: none;
  border: none;
}
.contain_right .box img {
  width: 70%;
  border-radius: 30px;
}
.footer {
  width: 100%;
  min-height: 200px;
  background-color: black;
  margin-top: -280px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.footer h3 {
  color: rgb(83, 192, 244);
}
.footer button {
  background-color: rgb(87, 111, 4);
  color: white;
  border: none;
  border-radius: 3px;
  width: 75px;
  height: 40px;
}
.footer button:hover {
  background-color: rgb(117, 148, 7);
}
.footer p {
  color: white;
}
.under_footer {
  width: 100%;
  height: 180px;
  background-image: url("../images/underfooter.png");
  background-size: 100%;
}
.newworld {
  display: flex;
  width: 1000px;
  height: 444px;
  background-image: url("../images/backgroundhoverulli.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.newworld .left2 {
  width: 65%;
}
.newworld .left2 .top2 {
  width: 100%;
  height: 80%;
  background-image: url("../images/newworld/1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 3px;
}
.newworld .left2 .bot2 {
  width: 100%;
  height: 16%;
  display: flex;
  margin: 7.5px 0;
}
.newworld .left2 .bot2 .btn1 {
  width: 20%;
  height: 100%;
  background-image: url("../images/newworld/1.1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  margin: 0 2px;
}
.newworld .left2 .bot2 .btn2 {
  width: 20%;
  height: 100%;
  background-image: url("../images/newworld/1.2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  margin: 0 2px;
}
.newworld .left2 .bot2 .btn3 {
  width: 20%;
  height: 100%;
  background-image: url("../images/newworld/1.3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  margin: 0 2px;
}
.newworld .left2 .bot2 .btn4 {
  width: 20%;
  height: 100%;
  background-image: url("../images/newworld/1.4.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  margin: 0 2px;
}
.newworld .left2 .bot2 .btn5 {
  width: 20%;
  height: 100%;
  background-image: url("../images/newworld/1.5.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  margin: 0 2px;
}
.right2 {
  margin-top: 3px;
  margin-left: 15px;
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.right2 .img2 {
  height: 35%;
  width: 100%;
  background-image: url("../images/newworld/pos.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.right2 .content2 a:hover {
  border-bottom: 2px solid black;
}
.purchase {
  margin-top: 70px;
  width: 100%;
}
.left3 {
  width: 65%;
  min-height: 180px;
  /* background-image: url("../images/backgroundhoverulli.png"); */
}
.right3 {
  width: 35%;
}
.box3 {
  border-radius: 15px;
  border: 2px solid rgb(215, 222, 255);
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
}
.box3 .box_top {
  /* background-image: url("../images/backgroundhoverulli.png"); */
}
.box3 .box_bot {
  /* background-color: rgba(17, 79, 146, 0.781); */
}
.box3 .box_bot button:hover {
  background-color: rgb(7, 214, 7);
  border: 2px dashed rgb(7, 204, 7);
}
