* {
  padding: 0;
  margin: 0;
}
.header {
  /* display: flex; */
  background-color: rgb(23, 26, 33);
  height: 104px;
  width: 100%;
}
.header .logo {
  display: flex;
  padding-left: 100px;
  padding-top: 27px;
  font-size: 150px;
}
.header .logo img {
  width: 50px;
  height: 50px;
  color: rgb(197, 195, 192);
  margin-left: -50px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.header .logo h1 {
  color: rgb(197, 195, 192);
  font-size: 30px;
  display: flex;
  align-items: center;
}
.header .function {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  margin-top: -255px;
}

.header .function button {
  display: flex;
  background-color: green;
  height: fit-content;
}
.header .function button i {
  color: white;
  margin: 2px 5px;
}
.header .function button p {
  color: white;
  margin: 0 5px;
}
.header .function a {
  text-decoration: none;
  color: rgb(197, 195, 192);
  padding: 0 5px;
}
.header .menu {
  display: flex;
  justify-content: center;
  line-height: 30px;
}
.header .menu .nav {
  display: block;
}
.header .menu .nav .nav-item {
  float: left;
}
.contain .container_mid .menu_mid .right {
  display: flex;
  align-items: center;
  height: 60%;
  padding-top: 18px;
}

.contain .container_mid .menu_mid .right input {
  background-color: rgb(59, 100, 144);
  border: none;
}
.contain .container_mid .menu_mid .right button {
  background-color: rgb(17, 79, 146);
  border: none;
}
.contain_right {
  width: 200px;
}
