<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/games.css" />
    <title>Project</title>
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <img src="../images/logo.png" alt="ảnh logo" />
        <h1>STEAM</h1>
      </div>
      <div class="menu">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">STORE</a>
            <ul class="home_menu">
              <li><a href="#">HOME</a></li>
              <li><a href="#">DISCOVERY QUEUE </a></li>
              <li><a href="#">WISHLIST</a></li>
              <li><a href="#">POINTS SHOP</a></li>
              <li><a href="#">NEWS</a></li>
              <li><a href="#">STATS</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">COMMUNITY</a>
            <ul class="home_menu">
              <li><a href="#">HOME</a></li>
              <li><a href="#">DISCUSSION QUEUE</a></li>
              <li><a href="#">WORKSHOP</a></li>
              <li><a href="#">MARKET</a></li>
              <li><a href="#">BROADCARDS</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SUPPORT</a>
          </li>
        </ul>
      </div>
      <div class="function">
        <button class="download">
          <i class="fas fa-download"></i>
          <p>Install Steam</p>
        </button>
        <a href="#">login |</a>
        <a href="#">language <i class="fas fa-chevron-down"></i></a>
      </div>
    </div>
    <div class="contain">
      <div class="contain_left">
        <img src="../images/steamcards.png" alt="ảnh steamcards" />
        <br />
        <br />
        <br />
        <br />
        <p>GIFT CARD</p>
        <a href="#">Now Available On Steam</a>
        <br />
        <br />
        <br />
        <p>RECOMMENDED</p>
        <a href="#"><i class="fas fa-users"></i> By friends</a> <br />
        <a href="#"><i class="fas fa-bullseye"></i> By Curators</a>
        <br />
        <a href="#"><i class="fas fa-tags"></i> Tags</a> <br />
        <br />
        <br />
        <br />
        <p>DISCOVERY QUEUES</p>
        <a href="#"><i class="far fa-envelope"></i> Recommendations</a>
        <br />
        <a href="#"><i class="fas fa-puzzle-piece"></i> New releases</a>
        <br />
        <br />
        <br />
        <p>BROWSE CATEGORIES</p>
        <a href="#"><i class="fab fa-sellsy"></i> Top sellers</a> <br />
        <a href="#"><i class="fas fa-plus"></i> New releases</a> <br />
        <a href="#"><i class="far fa-clock"></i> Upcoming</a> <br />
        <a href="#"><i class="fas fa-percentage"></i> Special</a> <br />
        <a href="#"><i class="fas fa-tools"></i> Vitual Reality</a>
        <br />
        <a href="#"><i class="fas fa-gamepad"></i> Controller Friendly</a>
        <br />
        <br />
        <br />
        <br />
        <p>BROWSE BY GENRE</p>
        <a href="#">Free to play</a> <br />
        <a href="#">Early Access</a> <br />
        <a href="#">Action</a> <br />
        <a href="#">Adventure</a> <br />
        <a href="#">Casual</a> <br />
        <a href="#">Indie</a> <br />
        <a href="#">Massive Multiplayer</a> <br />
        <a href="#">Racing</a> <br />
        <a href="#">RPG</a> <br />
        <a href="#">Simulation</a> <br />
        <a href="#">Sports</a> <br />
        <a href="#">Strategy</a> <br />
      </div>
      <div class="contain_mid">
        <div class="menu_mid">
          <div class="left">
            <ul>
              <li>
                <a href="#">Your Store</a>
                <ul class="sub">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Community Recommendations</a></li>
                  <li><a href="#">Recenly Viewed</a></li>
                  <li><a href="#">Steam Curators</a></li>
                </ul>
              </li>
              <li>
                <a href="#">New & Worthy</a>
                <ul class="sub">
                  <li><a href="#">Top sellers</a></li>
                  <li><a href="#">New and Trending</a></li>
                  <li><a href="#">Current Special</a></li>
                  <li><a href="#">Recently Updated</a></li>
                  <li><a href="#">Popular Upcoming</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Categories</a>
                <ul class="sub">
                  <li><a href="#">SPECIAL SECTIONS</a></li>
                  <li><a href="#">GENRES</a></li>
                  <li><a href="#">THEMES</a></li>
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Role-Playing</a></li>
                  <li><a href="#">Strategy</a></li>
                  <li><a href="#">Adventure & Casual</a></li>
                  <li><a href="#">Simulation</a></li>
                  <li><a href="#">Sports & Racing</a></li>
                  <li><a href="#">PLAYER SUPPORT</a></li>
                </ul>
              </li>
              <li><a href="#">Points Shop</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Labs</a></li>
            </ul>
          </div>
          <div class="right">
            <input type="text" name="" id="search" />
            <button><i class="fas fa-search"></i></button>
          </div>
        </div>
        <div class="banner_mid">
          <button>
            <img src="../images/games/banner_none.png" alt="" />
            <!-- <img src="../images/games/banner.png" alt="" /> -->
          </button>
          <h1>TOP SELLERS</h1>
          <p>All Products</p>
        </div>
        <div class="cate_mid">
          <div class="left">
            <div class="search">
              <input type="text" name="" id="" />
              <button>Search</button>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/1.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>Rim-Worlds - Ideology</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >115.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/30.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>SHADE OF SAKURA</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >175.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/2.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>CS:GO:Prime Status Upgrade</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >185.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/3.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>Valheim</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >100.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/4.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>Tim Worlds</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >1.115.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/5.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>Stardew Valley</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >2.115.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/6.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>ARK: Ultimate Survival Edition</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >190.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/7.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>Total War</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >250.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/8.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>Tetarria</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >375.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/9.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>Project Zomboid</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >815.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/10.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>WilderMyth</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >2.205.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/11.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>SID MEIER’S CIVILIZATION® VI ANTHOLOGY</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >915.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/12.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>CARRION</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >645.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/13.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>Factorior</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >515.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/14.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>Left 4 Dead 2</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >575.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/15.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>Garry's Mod</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >345.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/16.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>ARK: Survival Evolved</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >125.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/17.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>7 Days to Die</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >1.005.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/18.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>RimWorld - Royalty</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >15.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/19.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>Don't Starve Together</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >220.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/20.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>Draw & Guess</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >235.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/21.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>Crusader Kings III</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >325.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/22.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>CRUSADER KINGS III ROYAL EDITION</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >145.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/23.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>Euro Truck Simulator 2 - Iberia</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >915.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/24.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>Tabletop Simulator</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >400.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/25.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>Tabletop Simulator</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >500.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/26.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>Barotrauma</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >365.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/12.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>CARRION</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >755.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/28.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>Total War: WARHAMMER II</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >815.000đ</span
                  >
                </p>
              </div>
            </div>
            <div class="game1">
              <div class="left1">
                <img src="../images/games/29.jpg" alt="" />
              </div>
              <div class="right1">
                <h5>DYING LIGHT THE FOLLOWING</h5>
                <p>
                  <span><i class="fab fa-windows"> </i> </span>
                  <span style="padding-left: 450px; font-size: 18px"
                    >115.000đ</span
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="right"></div>
        </div>
      </div>
      <div class="contain_right">
        <div class="box">
          <button>
            <img src="../images/instagram.png" alt="" />
          </button>
          <button>
            <img src="../images/twitter.png" alt="" />
          </button>
          <button>
            <img src="../images/facebook.png" alt="" />
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="footer">
      <h3>Looking for Recommendations ?</h3>
      <p>Sign to view personalized Recommendations</p>
      <button>Sign in</button>
      <p>
        Or <span><a href="">sign up</a></span> and join Steam for free
      </p>
    </div>
    <div class="under_footer"></div> -->
  </body>
  <script src="../jquery/jquery.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  <script src="../jquery/script.js"></script>
</html>
