<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Project</title>
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <img src="../images/logo.png" alt="ảnh logo" />
        <h1>STEAM</h1>
      </div>
      <div class="menu">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">STORE</a>
            <ul class="home_menu">
              <li><a href="#">HOME</a></li>
              <li><a href="#">DISCOVERY QUEUE </a></li>
              <li><a href="#">WISHLIST</a></li>
              <li><a href="#">POINTS SHOP</a></li>
              <li><a href="#">NEWS</a></li>
              <li><a href="#">STATS</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">COMMUNITY</a>
            <ul class="home_menu">
              <li><a href="#">HOME</a></li>
              <li><a href="#">DISCUSSION QUEUE</a></li>
              <li><a href="#">WORKSHOP</a></li>
              <li><a href="#">MARKET</a></li>
              <li><a href="#">BROADCARDS</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SUPPORT</a>
          </li>
        </ul>
      </div>
      <div class="function">
        <button class="download">
          <i class="fas fa-download"></i>
          <p>Install Steam</p>
        </button>
        <a href="#">login |</a>
        <a href="#">language <i class="fas fa-chevron-down"></i></a>
      </div>
    </div>
    <div class="contain">
      <div class="contain_left">
        <img src="../images/steamcards.png" alt="ảnh steamcards" />
        <br />
        <br />
        <br />
        <br />
        <p>GIFT CARD</p>
        <a href="#">Now Available On Steam</a>
        <br />
        <br />
        <br />
        <p>RECOMMENDED</p>
        <a href="#"><i class="fas fa-users"></i> By friends</a> <br />
        <a href="#"><i class="fas fa-bullseye"></i> By Curators</a>
        <br />
        <a href="#"><i class="fas fa-tags"></i> Tags</a> <br />
        <br />
        <br />
        <br />
        <p>DISCOVERY QUEUES</p>
        <a href="#"><i class="far fa-envelope"></i> Recommendations</a>
        <br />
        <a href="#"><i class="fas fa-puzzle-piece"></i> New releases</a>
        <br />
        <br />
        <br />
        <p>BROWSE CATEGORIES</p>
        <a href="#"><i class="fab fa-sellsy"></i> Top sellers</a> <br />
        <a href="#"><i class="fas fa-plus"></i> New releases</a> <br />
        <a href="#"><i class="far fa-clock"></i> Upcoming</a> <br />
        <a href="#"><i class="fas fa-percentage"></i> Special</a> <br />
        <a href="#"><i class="fas fa-tools"></i> Vitual Reality</a>
        <br />
        <a href="#"><i class="fas fa-gamepad"></i> Controller Friendly</a>
        <br />
        <br />
        <br />
        <br />
        <p>BROWSE BY GENRE</p>
        <a href="#">Free to play</a> <br />
        <a href="#">Early Access</a> <br />
        <a href="#">Action</a> <br />
        <a href="#">Adventure</a> <br />
        <a href="#">Casual</a> <br />
        <a href="#">Indie</a> <br />
        <a href="#">Massive Multiplayer</a> <br />
        <a href="#">Racing</a> <br />
        <a href="#">RPG</a> <br />
        <a href="#">Simulation</a> <br />
        <a href="#">Sports</a> <br />
        <a href="#">Strategy</a> <br />
      </div>
      <div class="container_mid">
        <div class="menu_mid">
          <div class="left">
            <ul>
              <li>
                <a href="#">Your store</a>
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Community Recommendations</a></li>
                  <li><a href="#">Recently Viewed</a></li>
                  <li><a href="#">Steam Curators</a></li>
                </ul>
              </li>
              <li>
                <a href="#">New & Noteworthy</a>
                <ul>
                  <li><a href="#">Top Sellers</a></li>
                  <li><a href="#">Current Specials</a></li>
                  <li><a href="#">Recently Updated</a></li>
                  <li><a href="#">Popular Upcoming</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Categories</a>
                <ul>
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Free to play</a></li>
                  <li><a href="#">Adventure & Casual</a></li>
                  <li><a href="#">Role-Playing</a></li>
                  <li><a href="#">Strategy</a></li>
                  <li><a href="#">Simulation</a></li>
                  <li><a href="#">Sports & Racing</a></li>
                  <li><a href="#">Themes</a></li>
                  <li><a href="#">Player Supports</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Point shops</a>
              </li>
              <li>
                <a href="#">News</a>
              </li>
              <li>
                <a href="#">Labs</a>
              </li>
            </ul>
          </div>
          <div class="right">
            <input type="text" name="" id="search" />
            <button><i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class="contain_right">hello</div>
    </div>
  </body>
  <script src="../jquery/jquery.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  <script src="../jquery/script.js"></script>
</html>
